<footer>
    <div class="container">
        <div class="row pt-4">


            <div class="col-sm-4">
                <h3>social</h3>
                <div class="d-flex justify-content-around">
                    <span class="social-icon"><a href="https://www.facebook.com/posterbook/" ><i class="fab fa-facebook fa-2x" style="left:15px;"></i></a></span>
                    <span class="social-icon"><a href="https://twitter.com/Poster_Book" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></span>
                    <span class="social-icon"><a href="https://www.instagram.com/poster.book/" ><i class="fab fa-instagram fa-2x"></i></a></span>
                </div>
            </div>


            <div class="col-sm-4 footer-menu">
                <h3>menu</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li><a href="https://posterbook.it/privacy-policy">Privacy policy</a></li>
                            <li><a href="https://posterbook.it/cookies">Cookies policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-sm-4">
                <h3>cerca</h3>
                <form class="" action="" method="post">
                    <input type="text" name="newsletter" placeholder="..." class="dagblog-input">
                </form>
            </div>
        </div>
    </div>
    <div id="copy-right">
        <p>Copyright &copy; PosterBook 2017</p>
    </div>
</footer>
