<!-- OVERLAY SEARCH -->
<div id="search-overlay">
    <a href="" id="search-overlay-close"><i class="fa fa-times fa-2x"></i></a>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6  col-sm-12 text-center">
                <h1><i class="fa fa-search"></i> ricerca</h1>
                <form class="" action="/search" method="get">
                    <p>
                        <input type="text" name="search" class="dagblog-input" placeholder="...">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
