<!-- Social Dialog Modal -->
<div class="modal fade" id="socialDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center text-primary">SHARE</h3>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item"><i class="fab fa-twitter fa-2x mr-3 "></i> <span class="text-muted">Twitter</span></a>
                    <a href="#" class="list-group-item"><i class="fab fa-facebook fa-2x mr-3 "></i> <span class="text-muted">Facebook</span></a>
                    <a href="#" class="list-group-item"><i class="fab fa-google-plus fa-2x mr-3 "></i> <span class="text-muted">Google Plus</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
