//main : ./style.scss


    $article-card-limit-h : 500px;
    $article-card-limit-l: 499px;



    @media(min-width: $article-card-limit-h){

        .article-card-index{

            margin-bottom: 3rem;
            .card-box-link{
                display: block;
                text-decoration: none;
                .card{
                    height: 20rem;
                    overflow: hidden;
                    flex-direction: row;
                }
            }
            .box-image{
                // background-image:url(http://via.placeholder.com/200x30);
                background-size: cover;
                background-position: 50%;
                //flex: 0 0 40%;
            }
            .box-content{

            }
        }

        #index-card-main{
            .article-card-index{
                .box-image{
                    flex: 0 0 50%;
                }
            }
        }

        #index-card-group-boxes{
            .article-card-index{
                .card-box-link{
                    .card{
                        flex-direction: column;
                    }
                }
                .box-image{
                    flex: 0 0 auto;
                    height: 10rem;
                }
            }
        }


        #index-card-group-lines{
            .article-card-index{
                .card-box-link{
                    .card{
                        height: 10rem;
                    }
                }
                .box-image{
                    flex: 0 0 35%;
                }
            }
        }

    }

    @media(max-width: $article-card-limit-l){
        .article-card-index{
            margin-bottom: 1rem;
            .card-box-link{
                display: block;
                text-decoration: none;
                .card{
                    overflow: hidden;
                    flex-direction: column;
                }
            }
            .box-image{
                // background-image:url(http://via.placeholder.com/200x30);
                background-size: cover;
                background-position: 50%;
                flex: 1 0 100%;
                min-height: 10rem;
            }
            .box-content{

            }
        }

    }
