// compileCompressed: ../src/styles/$1.css



// Google font import
// @import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:100,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Montserrat:400,400i,700');
@import "../node_modules/prismjs/themes/prism";

@import "variables";
@import "header";
@import "post";
@import "search-overlay";
@import "utility";
@import "common";
@import "footer";
@import "article-card";
@import "aside";


p{
    color:$dag-paragraph-color;
}

h1, h2, h3, h4, h5, h6{
    color: $dag-headings-color !important;
}

body{
    //background-color: $color-background !important;
}
